<h1>Listing cars </h1>

<table class="table">
    <tr >
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    <% _.each(model, function(row) { %>
        <tr>
            <td><%= row.name %></td>
            <td><%= row.price %></td>
            <td><a class="btn btn-info" href="/cars/show/<%= row.id %>">Show</a></td>
            <td><a class="btn btn-light" href="/cars/edit/<%= row.id %>">Edit</a></td>
    <% }) %>
        </tr>
</table>

<a class="btn btn-dark" href="/cars/new">New Car</a>