<h1>New Car</h1>
<div style="width: 40%">
<form action="/cars/create" method="POST">

	Name: <input class="form-control" name="name" type="text"/> <br />
	Price: <input class="form-control" name="price" type="number"/> <br />
	<input class="btn btn-primary" type="submit" value="Dodaj nowy"/>
</form>
</div>