<h1>New Car</h1>
<form action="/cars/create" method="POST">

	Name: <input name="name" type="text"/> <br />
	Price: <input name="price" type="number"/> <br />
	<input type="submit" value="Dodaj nowy"/>
</form>